# dependencies
node_modules/

# build output
dist/
build/

# expo
.expo/
.expo-shared/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# os
.DS_Store

# editors
.vscode/*
!.vscode/extensions.json

# misc
*.tsbuildinfo
